* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: rgb(141, 141, 141);
}
.body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: rgb(141, 141, 141);
}

.main {
  flex: 1;
  height: 100%;
  width: 100%;
}

.sidebar {
  height: 100%;
  width: 250px;
  color: white;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
}

@media screen and (max-width: 350px) and (min-width: 0px) {
  .sidebar {
    position: fixed;
    margin-left: 45px;
    overflow-x: hidden;
    height: 100%;
    z-index: 1;
    top: 0;
    left: 0;
  }

  .ch-body-open {
    width: 90%;
  }
  .ch-body-close {
    width: 87%;
  }
  .chat-inputs {
    width: 100%;
  }
}

@media screen and (max-width: 600px) and (min-width: 350px) {
  .sidebar {
    position: fixed;
    margin-left: 45px;
    overflow-x: hidden;
    height: 100%;
    z-index: 1;
    top: 0;
    left: 0;
  }

  .ch-body-open {
    width: 90%;
  }
  .ch-body-close {
    width: 90%;
  }
  .chat-inputs {
    width: 100%;
  }
}

@media screen and (max-width: 900px) and (min-width: 601px) {
  .chat-inputs {
    width: 97%;
  }

  .ch-body-open {
    width: calc(93% - 240px);
    transition: width 0.5s;
  }
  .ch-body-close {
    width: 93%;
    transition: width 0.5s;
  }
}

@media screen and (min-width: 900px) {
  .chat-inputs {
    width: 97%;
  }

  .ch-body-open {
    width: calc(100% - 295px);
    transition: width 0.5s;
  }
  .ch-body-close {
    width: 95%;
    transition: width 0.5s;
  }
}
