main {
  flex: 1;
  height: 100vh;
  width: 100;
}
.sidebar {
  height: 100vh;
  width: 250px;
  background-color: #333;
  color: white;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
}
.sidebar.show {
  transform: translateX(0);
}

.chat-inputs {
  width: 100%; /* Take the full width of the screen */
  background-color: white; /* Set the desired background color */
  border-top: 1px solid #ccc; /* Add a top border for separation */
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1); /* Add a subtle shadow to the bottom */
}