.sender {
  display: flex;
  justify-content: end;
  padding: 30px;
}
.reciver {
  display: flex;
  justify-content: end;
  padding: 30px;
}
.width{
    max-width: 40%;
}
.deco{
  text-decoration: none;
}